@font-face {
  font-family: Alata;
  src: url('Alata-Regular.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: Ague;
  src: url('Ague-Regular.otf') format(truetype);
  font-weight: normal;
  font-style: normal;
}


body{
    background-color: #111;
}

.org-titulo {
    display: flex;
    justify-content: center;
}

.container-pjts{
    display: flex;
    flex-direction: row;
}

.titulo{
    background: linear-gradient(10deg ,#000, #222);
    width: 400px;
    height: auto;
    border-radius: 50px;
    margin-top: 30px;
}

.titulo h1{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;    
    font-family: 'Ague';
}

.certificados{
    background-color: #222;
    height: 380px;
    width:430px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 40px;
    margin: 5px;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    box-shadow: 0px 0px 4px #ffd900;
  border: 1px solid #ffd9008a;
    
}

#logica-de-prog{
    height: 170px;
}

.img-cert{
    background-color: #676767;
    height: 185px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:7px;
    margin-left: 80px;

}

.img-cert img{
    width: 260px;
    height: auto;
    border-radius: 20px;
   
}


.desc-cert{
    margin-left: 40px;
    color: white;
    font-family: 'Alata';
    font-weight: normal;
}

